body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

code {
    font-family: menlo, inconsolata, monospace;
    font-size: calc(1em - 2px);
    color: #555;
    background-color: #f0f0f0;
    padding: 0.2em 0.4em;
    border-radius: 2px;
}

svg {
    width: 100%;
    height: 100%;
     stroke: currentColor;
     stroke-width: 32px;
     fill: none;
}

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

button[disabled] svg {
   stroke: grey;
}

button[disabled] path {
   fill: white !important;
}



@media (min-width: 400px) {
    body {
	font-size: 16px;
    }
}

 .controls {
     display: flex;
     height: 2.2em;
     align-items: center;
 }

 .control {
     flex-basis: 2.2em;
 }

 
 .is-draggable{
     /* needed here because does not work in Queue.svelte  */
  z-index: 10;
}
